@charset "UTF-8";

body{
	font-family: 'メイリオ','Hiragino Kaku Gothic Pro', sans-serif;
    margin: 0px;
    background-color: #fff;
}

#wallpaper{
	height: auto;
	width: 1000px;
	background-color: gray;
	margin: 0px auto 0px auto;
}

.top{
	height: auto;
	width: 100%;
	box-sizing: border-box;
	background-color: #213E82;
	padding: 20px;
}
.title{
	font-size: 100px;
	padding: 0px;
	margin: 0px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	font-family: 'Pacifico', cursive;
}
.annai{
	height: auto;
	width: 100%;
	background-color: #E1E2E3;
}
.annai ul{
	height: auto;
	width: 100%;
	background-color: green;
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.annai ul:after{
	content:"";
	display: block;
	clear: both;
}
.annai li{
	height: auto;
	width: 100%;
	background-color: #E1E2E3;
	float: left;
	box-sizing: border-box;
}
.ClearFix{
	height: auto;
	width: 100%;
	background-color: #E6E6E6;
}

.ClearFix:after{
	content:"";
	display: block;
	clear: both;
}
.contact{
	height: auto;
	width: 60%;
	background-color: white;
	float: left;
	padding: 10px;
	box-sizing: border-box;
}
.subbox{
	height: 500px;
	width: 40%;
	background-color: #F7F8E0;
	float: left;
	padding: 2%;
	box-sizing: border-box;
}
.subbox h2{
	margin: 0px;
	padding: 5px 0px 0px 5px;
	border-bottom: 2px dotted #000000;
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
	color: white;
}
.t{
	width: 140px;
	height: auto;
}
.foot{
	height: 300px;
	width: 100%;
	background-color: #674C3A;
}
.marker{
	background: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0),yellow, yellow);
	font-weight:bold;
}
.name{
	margin: 0px;
	font-weight: bold;
}
button {
	width: 200px;
	margin: 0 auto;
	color: #fff;
	background-color: #01A2F8;
	border-radius: 200px;
	border: none;
}

#down {
	display: flex;
}

.slide-button {
	width: 100px;
}

#main_image {
	width: 100%;
}